/* The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */

.user-header {
  width: 100%;
  text-align: center;
  text-justify: end;
  background-image: url(http://www.transparenttextures.com/patterns/cardboard.png);
  opacity: 100%;
  padding-top: 120px;

}

.name-of-user {
  margin-top: -55px;
}

@media only screen and (min-width: 1024px) {
  .user-header {
    margin: 100px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  }
}