/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */
nav {
  position: fixed;
  padding: 0.5em;
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  vertical-align: top;
  top: 0;
  justify-content: space-between;
  z-index: 1;

}

span {
  margin: 1.5em;
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 120px;
  }
}