.tweet-button {
  background-color: orange;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  color:white;
  padding: 5px;
  margin-top: 15px;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
}

.counter {
  font-family: 'Bungee', sans-serif;
  margin-top: 10px;
}

#tweet-text {
  background-color: transparent;
  border: 0px solid;
  border-bottom: solid;
  resize: none;
  padding-top: 10px;
}

.counter {
  display: flex;
  align-items: center;
}

#tweet-button:hover {
  background-color: red;
}

.errorExceedMaximum {
  display: none;
  justify-content: center;
  align-items: center;
  color: maroon;
  border: 2px solid maroon;
  height: 60px;
  margin-bottom: 10px;
}

.errorNoTweet {
  display: none;
  justify-content: center;
  align-items: center;
  color: maroon;
  border: 2px solid maroon;
  height: 60px;
  margin-bottom: 10px;
}

.errorMessage {
  margin: 10px 10px 10px 10px;
}